name: Build and Upload

on:
  push:
    branches:
      - master

jobs:
  build:
    name: Build and Upload
    runs-on: ubuntu-latest
    if: contains(github.event.head_commit.message, '[ci skip]') == false

    steps:
      - uses: actions/checkout@v4.1.7

      - name: Set up JDK 21
        uses: actions/setup-java@v4.2.1
        with:
          java-version: 21
          distribution: temurin

      - name: Build with Maven
        run: mvn package

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Networks-1.20.6
          path: target/*.jar
